.ContactForm {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
}
.ContactForm > input {
    display: block;
    font-size: 1rem;
    border-radius: 1rem;
    border: unset;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    width: 90%;
    max-width: 400px;
}
.ContactForm .ServicesList {
    display: flex;
    align-content: space-evenly;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.ContactForm .ServicesList > div {
    padding: 1rem  0.5rem;
    display: block;
    justify-content: center;
}
.ContactForm .ServicesList > div > label, .ContactForm .ServicesList > div > input {
     cursor: pointer;
    font-size: 1.1rem;
    opacity: 0.75;
}
.ContactForm textarea {
    width: 90%;
    display: block;
    border-radius: 1rem;
    border: unset;
    padding: 1rem;
    margin: 1rem 0;
}
.ContactForm .Button {
    right: 0;
    font-weight: 800;
    margin: 0 auto;
    display: block;
    color: white;
}
.ContactForm .Error{
    color: red;
    animation: pulsate 2s infinite;
    text-align: center;
}
.ContactForm p span {
    cursor: pointer;
    text-decoration: underline;
}
.Submitted {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.Submitted h2 {
    text-align: center;
    width: 100%;
    margin: 2rem 0;
}
@keyframes pulsate {
    0%, 100% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
}